﻿@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

/* -------------------------------------------------------
                   01 - About
-------------------------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
    /*margin: 0;
    padding: 0;*/
}

ul#Thongtin {
border-top:1px solid #ccc;
padding-top:15px;
}

li {
    width: 48%;
    display: inline-block;
    margin-bottom: 15px;
}
    li.title {
        display: inline-block;
        font-weight: 600;
        padding-right: 5px;
    }
           li.title:after {
              content: ':';
              padding-left: 5px;
            }
        

        li.value {
            display: inline-block;
        }


    
/* -------------------------------------------------------
                   02 - Header
-------------------------------------------------------- */
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}
a{
  text-decoration:none
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

  align-content: flex-start;
  height:auto;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
 content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
     /*scale(1.0, 1.0);*/
    transform: translateZ(0);
  background:#1B2030 url('../HinhPhu/nentt.png') 50% 0 no-repeat;
  background-size:150%;
  background-attachment:fixed;
  z-index:-2;
}
.header a{
  color:#eee
}

.logo{
    border: 2px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    display: inline-flex;

    align-content: center;
    margin: 20px;
    padding: 4px 10px;
    font-weight: 900;
    font-size: 1.1em;
    line-height: 1;
    box-sizing: border-box;
    height: 40px;
}
.logo:hover{
    background-color:#0cc39f;

        border: 2px solid #0cc39f;
}
.sides, .info{
  flex: 0 0 auto;

}
.info{
  width:100%;
  padding:5% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
  display:inline-block;
  width:150px;
  height:150px;
  border-radius:50%;
  background:url('../HinhPhu/logo.png') center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px;
 
}
/*.info h4, .meta{
  font-size:0.7em
}*/
/*.meta{
  font-style:italic;
}*/
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{  
  padding:5% 10%;
  text-align:justify;
  background-color:#0cc39f;
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr{
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}


/*Chitiet*/
#Num {
        border-top: 5px solid #0cc39f;
    border-bottom: 5px solid #0cc39f;
    padding-bottom: 30px;
    padding-top: 30px;
  max-width:800px;
  margin: 50px auto 0;
  text-align: center;
  display: table;
  margin-bottom:50px;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #0cc39f;
  padding: 25px;
  width: 250px;

  margin-top: 10px;
  
  border-radius:50%;
  color: white;
  font-weight: bold;
   margin:1px;
  text-align: center;
}

.count{
  
    font-size:4em;
 line-height: 90px;
}

/*User choose*/
h1{font-size: 20px}
h2{    font-size: 3em;
    margin: 0;}
h3 {
    font-size: 17px;
    line-height: 32px;
    opacity: 0.7;
}

/* -------------------------------------------------------
                   03 - Footer
-------------------------------------------------------- */
footer {
height:60px;
color: #0cc39f;
text-align:center;
padding-top:20px
}

